# Catalog Service — Environment Variables
AUTH_SERVICE_BASE_URL=http://localhost:8080/api/v1/auth/
DATABASE_URL="host=localhost user=admin password=password dbname=catalog_db port=5432 sslmode=disable"
RABBITMQ_URL=amqp://admin:password@localhost:5672/
PORT=8082
GRPC_PORT=50051
DEFAULT_LIMIT=50
DEFAULT_PAGE=1
ENV_TYPE="prod"
